<!--credit goes to https://giphy.com/stickers/my-art-uxebmaHfjsuCA for tree image-->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Manimu</title>
    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <!-- custom css -->
    <link rel="stylesheet" href="css/style.css" type="text/css">
     <link rel="stylesheet" href="style.css">
    <!-- custom JS -->
    <script src="js/script.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
  </head>
  <body>
  <style>
    body {
      background-color: lightblue;
    }

    .sidenav {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #26619c;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;
  }

    .sidenav a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: white;
      display: block;
      transition: 0.3s;
    }

    .sidenav a:hover {
      color: #f1f1f1;
    }

    .sidenav .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
    }

    @media screen and (max-height: 450px) {
      .sidenav {padding-top: 15px;}
      .sidenav a {font-size: 18px;}
    }
    .topnav {
      overflow: hidden;
      background-color: #5696D6;
    }

    .topnav a {
      float: left;
      color: #f2f2f2;
      text-align: center;
    }
    
    #searchbar1{
      text-align:center;
    }
    
    .responsive {
      width: 100%;
      height: auto;
}
  </style>
  
    <div class="container-fluid">
      <h1><img src="https://github.com/dive0/manimu/blob/master/images/manimulogo.png?raw=true" id="logo" style="width:100px;height:120px">Manimu</h1><br>
      <form method="post" class= "example" action="/result" style="margin:auto;max-width:300px" id="searchbar1">
        <input type="text" placeholder="Search anime/manga" name="name">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
      <img src="https://media.giphy.com/media/uxebmaHfjsuCA/giphy.gif" alt="Tree" class="responsive" width="600" height="400">
    </div>   

    <div class="container-fluid">
      <a href="https://www.animenewsnetwork.com/encyclopedia/reports.php?id=148">
    </div>
    
    <!--<div class="container-fluid">-->
    <!--  <p><%#= @airing_array %></p>-->
    <!--</div>-->
    
  </body>
</html>
