<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Manimu</title>
    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <!-- custom css -->
    <link rel="stylesheet" href="css/style.css" type="text/css">
     <link rel="stylesheet" href="style.css">
    <!-- custom JS -->
    <script src="js/script.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
  <style>
    body {
      background-color: lightblue;
      
    }
    #test1{
      text-align: center;
    }
    #searchbar1{
      text-align:center;
    }
  </style>
  <img src="../images/manimulogo.png" alt="Logo" width="500px" height="600px">
  <div class="container-fluid">
  <h1 id="test1">Manimu</h1>
  <form method="post" action="/result" style="margin:auto;max-width:300px" id="searchbar1">
    <input type="text" placeholder="Search.." name="name">
    <button type="submit"><i class="fa fa-search"></i></button>
  </form>
</div>   

<div class="container-fluid">
    <a href="https://www.animenewsnetwork.com/encyclopedia/reports.php?id=148">
</div>
  </body>
</html>
