<!--credit goes to https://giphy.com/stickers/my-art-uxebmaHfjsuCA for tree image-->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Manimu</title>
    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <!-- custom css -->
    <link rel="stylesheet" href="css/style.css" type="text/css">
     <link rel="stylesheet" href="style.css">
    <!-- custom JS -->
    <script src="js/script.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
  </head>
  <body>
  <style>
    body {
      background-image: url("https://media.giphy.com/media/uxebmaHfjsuCA/giphy.gif");
      background-color: lightblue;
      background-repeat:no-repeat;
      -webkit-background-size:cover;
      -moz-background-size:cover;
      -o-background-size:cover;
      background-size:cover;
      background-position:center;
      /*opacity: 0.1;*/
      /*filter: alpha(opacity=10);*/
    }

    .sidenav {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #26619c;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;
  }

    .sidenav a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: white;
      display: block;
      transition: 0.3s;
    }

    .sidenav a:hover {
      color: #f1f1f1;
    }

    .sidenav .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
    }

    @media screen and (max-height: 450px) {
      .sidenav {padding-top: 15px;}
      .sidenav a {font-size: 18px;}
    }
    .topnav {
      overflow: hidden;
      background-color: #5696D6;
    }

    .topnav a {
      float: left;
      color: #f2f2f2;
      text-align: center;
    }
    
    /*#searchbar1{*/
    /*  text-align:center;*/
    /*}*/

    /*#testing1{*/
    /*  text-align:center;*/
    
    }
    #centering{
      padding-left:500px;
      padding-right:500px;
      text-align:center;
    }
  </style>

  <div class="container">
  </div>
    <!--<div class="container" id="testing1">-->
    <!--  <div class="col-md-4">-->
    <!--    <h1><img src="https://github.com/dive0/manimu/blob/master/images/manimulogo.png?raw=true" id="logo" style="width:100px;height:120px">Manimu</h1><br>-->
    <!--  </div>-->
    <!--  <div class = "col-md-4"></div>-->
    <!--  @media on-->
    <!--</div>-->
  <!--  <div class="container-fluid" id="testing1">-->

  <!--</style>-->
  
  <!--  <div class="container-fluid">-->

  <!--    <h1><img src="https://github.com/dive0/manimu/blob/master/images/manimulogo.png?raw=true" id="logo" style="width:100px;height:120px">Manimu</h1><br>-->
  <!--    <form method="post" class= "example" action="/result" style="margin:auto;max-width:300px" id="searchbar1">-->
  <!--      <input type="text" placeholder="Search anime/manga" name="name">-->
  <!--      <button type="submit"><i class="fa fa-search"></i></button>-->
  <!--    </form>-->
      <!--<img src="https://media.giphy.com/media/uxebmaHfjsuCA/giphy.gif" alt="Tree" class="responsive" width="600" height="400">-->

  <!--  </div>   -->
  <!--  <div class="container-fluid">-->
  <!--    <a href="https://www.animenewsnetwork.com/encyclopedia/reports.php?id=148">-->
  <!--  </div>-->
    <!--<?php-->
    <!--  require __DIR__ . '/vendor/autoload.php';-->
    <!--  use Jikan\Jikan;-->
    <!--</div>   -->

    <div class="container-fluid">
      <h1>Top 10 Currently Airing Animes</h1>
      <% i = 0 %>
      <% @airing_info.each do |info| %>
        <h3><%= info %></h3>
        <% if info.include?("Rank: ") %>
          <img src=<%= @airing_img[i] %>>
          <% i += 1 %>
        <% end %>
        
        <% if info.include?("Score: ") %>
          <br>
        <% end %>
      <% end %>
      

    <!--  use \Jikan\Helper\Constants;-->

    <!--  $topAnime = $jikan->TopAnime();-->

    <!--  $topAnime = $jikan->TopAnime(2);-->
    <!--?>-->
    <!--<div class="container-fluid">-->
    <!--  <p><%#= @airing_array %></p>-->
    <!--</div>-->

    <div class="container" id="centering">
      <div class="text-center">
      
        <div class="row">
          <div class="col-sm-6 col-md-9 col-lg-12">
          <!--.col-sm-12 .col-md-6 .col-lg-4-->
            <div class="container-fluid">
              <h1><img src="https://github.com/dive0/manimu/blob/master/images/manimulogo.png?raw=true" id="logo" style="width:100px;height:120px">Manimu</h1><br>
                <form method="post" class= "example" action="/result" style="margin:auto;max-width:300px" id="searchbar1">
                  <input type="text" placeholder="Search anime/manga" name="name">
                  <button type="submit"><i class="fa fa-search"></i></button>
                </form>
          <!--<img src="https://media.giphy.com/media/uxebmaHfjsuCA/giphy.gif" alt="Tree" class="responsive" width="600" height="400">-->
              </div>   
              <div class="container-fluid">
                <a href="https://www.animenewsnetwork.com/encyclopedia/reports.php?id=148">
              </div>
        <!--<?php-->
        <!--  require __DIR__ . '/vendor/autoload.php';-->
        <!--  use Jikan\Jikan;-->

        <!--  $jikan = new Jikan;-->
      
        <!--  use \Jikan\Helper\Constants;-->

        <!--  $topAnime = $jikan->TopAnime();-->

        <!--  $topAnime = $jikan->TopAnime(2);-->
        <!--?>-->
        <!--<div class="container-fluid">-->
        <!--  <p><%#= @airing_array %></p>-->
        <!--</div>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
