<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Manimu</title>
    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <!-- custom css -->
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <!-- custom JS -->
    <script src="js/script.js"></script>
  </head>
  <body>

    <div class="container-fluid">
      <h1><img src="https://github.com/dive0/manimu/blob/master/images/manimulogo.png?raw=true" id="logo" style="width:100px;height:120px">Manimu</h1><br>

      <img src=<%= @user_anime_manga.images[0] %>>
      <% i=0 %>
      <% while i<@user_anime_manga.images.length %>
        
        <% @user_anime_manga.combined_info.each do |info| %>
        
          <h3><%= info %></h3>
        
          <!--<%# i = 0 %>-->
          <!--<%# while i<@user_anime_manga.genres.length %>-->
            <!--<h3><%#= @user_anime_manga.genres[i] %></h3>-->
          <!--    <%# i += 1 %>-->
        <!--  <%# end %>-->
        <%# end %>
         <!--<h3><%# @user_anime_manga.genres %></h3>-->
          <% if info.include?("Vintage: ") == true %>
            <% i += 1 %>
            <img src=<%= @user_anime_manga.images[i] %>>
          <% end %>
        <% end %>
      <% end %>
    </div>
    
  </body>
</html>
